<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="csspp.min.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Source Sans Pro:300,400,500,600,700,800', ]
            }
        });
    </script>
    <meta name="robots" content="noindex, nofollow">
    <title>Roboter Zero</title>
</head>

<body>
    <div class="sticky-bar" id="sticky-bar">
        <div class="sticky-bar--desktop">
            <div class="grid-x">
                <div class="cell">
                    <div class="sticky-bar--desktop__top">
                        <p>
                            V případě dotazů volejte <a href="tel:+420603263517">+420 603 263 517</a> nebo piště <a href="mailto:info.works@mt3.cz">info.works@mt3.cz</a></p>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell">
                    <div class="sticky-bar--desktop__menu">
                        <div class="logo"><a href="#" data-destination="nav"><img src="assetsogo.svg" alt="Roboto zero"></a></div>
                        <nav>
                            <ul class="menu">
                                <li class="active"><a href="#" data-destination="o-robotovi" data-observe="[data-name='o-robotovi']">Proč náš robot?</a></li>
                                <li><a href="#" data-destination="vlastnosti" data-observe="[data-name='vlastnosti']">Vlastnosti robota</a></li>
                                <li><a href="#" data-destination="ocekavani" data-observe="[data-name='ocekavani']">Co od nás můžete čekat?</a></li>
                                <li><a href="#" data-destination="akce" data-observe="[data-name='akce']">Robot v akci</a></li>
                                <li class="contact"><a class="button" href="#" data-destination="kontakt" data-observe="[data-name='kontakt']">Kontaktujte nás</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-bar--mobile">
        <div class="grid-x">
            <div class="cell auto">
                <div class="logo"><a href="#"><img src="assetsogo.svg" alt="Roboto zero"></a></div>
            </div>
            <div class="cell shrink">
                <button id="mobile-menu--open"><img src="assetsurger-open.svg" alt="burger"></button>
            </div>
        </div>
    </div>
    <header class="main-header" data-name="nav">
        <div class="grid-container">
            <div class="grid-x text-center">
                <div class="cell">
                    <div class="main-header__content">
                        <h1>Potřebujete navýšit kapacitu výroby a zároveň snížit výrobní náklady? <br> Máme řešení!</h1>
                        <p>ROBOTER ZERO - robotický podavač obrobků pro CNC obráběcí centra.</p><a class="button" href="#" data-destination="o-robotovi">Proč ROBOTER?</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="o-robotovi" data-name="o-robotovi">
        <div class="grid-container">
            <div class="grid-x large-up-2 align-middle">
                <div class="cell"><img src="assetsoboter.jpg" alt="roboter"></div>
                <div class="cell">
                    <div class="heading-text heading-text--side">
                        <h2>Objevte nečekaně dostupný a inteligentní způsob obsluhy CNC strojů.</h2><strong>Cena k dispozici již od poloviny Února 2021</strong>
                        <p>Váš nový operátor je připraven znásobit vaše provozní hodiny a postarat se o rychlou návratnost vaší investice.</p>
                        <div class="bonusy">
                            <div class="bonus"><img src="assetslock.svg" alt="hodiny"><span>Žádné prostoje</span></div>
                            <div class="bonus"><img src="assetstiznost.svg" alt="hodiny"><span>Žádné stížnosti</span></div>
                            <div class="bonus"><img src="assetsovolena.svg" alt="hodiny"><span>Žádná dovolená</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x large-up-2 align-middle">
                <div class="cell">
                    <div class="heading-text heading-text--side heading-text--side--left">
                        <h2>Rychlá instalace. Jednoduché a intuitivní ovládání.</h2>
                        <p>Nečekejte žádný nákladný návrh, komplikovanou instalaci a problematické uchopení tvarově složitých obrobků jako u robotické buňky. <strong>ROBOTER ZERO</strong> je připraven automatizovat vaši výrobu téměř ihned po vybalení. </p>
                        <p>K úspěšné integraci našeho robota s vaším CNC strojem je nezbytné použít automatické ovládání dveří CNC stroje a vhodnou upínací techniku. Ta slouží jako rozhraní mezi CNC strojem a naším robotem. Obojí vám v případě potřeby můžeme nabídnout jako volitelnou výbavu. </p>
                        <p>Sestavte si konfiguraci přesně podle vašich požadavků.</p><a class="button" href="#" data-destination="kontakt">Napište nám</a>
                    </div>
                </div>
                <div class="cell"><img src="assetsavratnost-investice.png" alt="Poznej operatora"></div>
            </div>
        </div>
    </section>
    <section class="vlastnosti" data-name="vlastnosti">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="heading-text heading-text--center">
                        <h2>Vlastnosti stroje ROBOTER ZERO</h2>
                        <p>ROBOTER ZERO byl již při svém návrhu koncipován pro nasazení v provozech s omezenými prostorovými možnostmi. Výsledkem je minimální zastavěná plocha při zachování dostatečné výrobní kapacity. Samotná manipulace ve stroji probíhá formou výměny polotovaru upnutého v kompaktním 5-osém svěráku. Tím je plně využit široký potenciál této upínací techniky a je možné automatizovat výrobu s vysokými nároky na přesnost a spolehlivost upnutí. Důraz byl také kladen na maximální hmotnostní a prostorovou dimenzi manipulovaných obrobků, flexibilitu použití a jednoduché ovládání.</p><a class="button" href="#" data-destination="video">Chcete vědět více?</a>
                    </div>
                </div>
                <div class="cell">
                    <div class="vlastnosti__table">
                        <ul class="menu vertical">
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Maximální hmotnost polotovaru až 18 kg</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Zastavěná plocha 2000x1000 mm</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>K dispozici až 38 pozic v zásobníku</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Možnost založení polotovarů v libovolném čase</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Vlastní logika hospodaření s polotovary a hotovými obrobky v zásobníku</p>
                            </li>
                        </ul>
                        <ul class="menu vertical">
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Maximální rozměr polotovaru až 270x210x110 mm</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Čas výměny kusu v CNC stroji 2:10 min</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Možnost použití u více CNC strojů</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Možnost odběru hotových dílů v libovolném čase</p>
                            </li>
                            <li><img src="assetsheck%20Full.svg" alt="Poznej operatora">
                                <p>Zobrazení aktuálního zbývajícího času do konce obrobení všech polotovarů v zásobníku</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ocekavani" data-name="ocekavani">
        <div class="grid-container">
            <div class="grid-x large-up-2 align-middle">
                <div class="cell"><img src="assetst3works-logo.png" alt="mt3works logo"></div>
                <div class="cell">
                    <div class="heading-text heading-text--side">
                        <h2 class="white">Co od nás můžete očekávat?</h2>
                        <div class="ocekavani__table">
                            <ul class="menu verical">
                                <li><img src="assetsheck%20green.svg" alt="Check green">
                                    <p>Dodáme vám naši robotickou jednotku a integrujeme s vaším CNC strojem</p>
                                </li>
                                <li><img src="assetsheck%20green.svg" alt="Check green">
                                    <p>Vybavíme vás upínací technikou dle požadovaného rozsahu</p>
                                </li>
                                <li><img src="assetsheck%20green.svg" alt="Check green">
                                    <p>Proškolíme vaše zaměstnance</p>
                                </li>
                                <li><img src="assetsheck%20green.svg" alt="Check green">
                                    <p>Nabídneme vám vzdálenou podporu při řešení problémů</p>
                                </li>
                                <li><img src="assetsheck%20green.svg" alt="Check green">
                                    <p>Poskytneme vám rychlý záruční i pozáruční servis</p>
                                </li>
                            </ul>
                        </div><a class="button" href="#" data-destination="kontakt">Napište nám</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="predstaveni" data-name="akce">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="heading-text heading-text--center">
                        <h2>Podívejte se na ROBOTER ZERO v akci</h2>
                    </div>
                </div>
            </div>
            <div class="predstaveni__gallery text-center grid-x grid-margin-x grid-padding-y large-up-4 medium-up-3 small-up-2">
                <div class="cell"><a class="item" href="assetsalerie%201@2x.png" data-mediabox="galerie"><img src="assetsalerie%201.png" alt="roboter zero v akci">
                        <div class="item__hover"><img src="assetscons/zoom.svg" alt="zoom"></div>
                    </a></div>
                <div class="cell"><a class="item" href="assetsalerie%202@2x.png" data-mediabox="galerie"><img src="assetsalerie%202.png" alt="roboter zero v akci">
                        <div class="item__hover"><img src="assetscons/zoom.svg" alt="zoom"></div>
                    </a></div>
                <div class="cell"><a class="item" href="assetsalerie%203@2x.png" data-mediabox="galerie"><img src="assetsalerie%203.png" alt="roboter zero v akci">
                        <div class="item__hover"><img src="assetscons/zoom.svg" alt="zoom"></div>
                    </a></div>
                <div class="cell"><a class="item" href="assetsalerie%204@2x.png" data-mediabox="galerie"><img src="assetsalerie%204.png" alt="roboter zero v akci">
                        <div class="item__hover"><img src="assetscons/zoom.svg" alt="zoom"></div>
                    </a></div>
            </div>
            <div class="grid-x" data-name="video">
                <div class="cell">
                    <iframe width="100%" height="731px" src="https://www.youtube.com/embed/Uaiwews9F6A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="predstaveni__banner grid-x align-middle text-center">
                <div class="cell">
                    <div class="banner__content">
                        <H2>Získejte ROBOTER ZERO a udělejte krok k vyšší produktivitě ještě dnes.</H2><span>Cena od:<br><strong>995 €</strong></span><a class="button fat" href="#">Sestavení a cena</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kontakt" data-name="kontakt">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="cell large-6">
                    <div class="heading-text heading-text--side heading-text--side--left">
                        <h2>Zaujala Vás naše nabídka? Kontaktujte nás!</h2>
                        <p>Pošlete nám zprávu pomocí tohoto formuláře a my se Vám ozveme co nejdříve zpět. Pokud se chcete na něco zeptat přímo, můžete nám i napsat e-mail nebo zavolat.</p>
                        <div class="buttons"><a class="button email" href="mailto:info.works@mt3.cz"><img src="assetsbalka.svg" alt="obalka"><span> info.works@mt3.cz</span></a><a class="button phone" href="tel:+420604264517"><img src="assetselefon.svg" alt="obalka"><span> +420 604 264 517</span></a></div>
                    </div>
                </div>
                <div class="cell large-6">
                    <div class="kontakt__form">
                        <H2 class="white">Kontaktní formulář</H2>
                        <form action="post">
                            <label><span>Jméno</span>
                                <input type="text" name="name" required="" placeholder="Např. Jan Novák">
                            </label>
                            <label class="active"><span>E-mail</span>
                                <input type="email" name="email" required="" placeholder="jan.novak@email.cz">
                            </label>
                            <label><span>Telefon</span>
                                <input type="tel" name="email" required="" placeholder="123 456 789">
                            </label>
                            <label><span>Vaše zpráva</span>
                                <input type="text-area" name="email" required="" placeholder="Dobrý den, mám zájem o...">
                            </label>
                            <button class="button">Odeslat zprávu</button>
                        </form>
                        <p class="white">
                            Vaše osobní údaje zadané v tomto formuláři budou použity pouze k vyřízení Vašeho požadavku. Více na stránce <a href="#">Ochrana osobních údajů</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="grid-x align-center-middle">
            <div class="cell shrink">
                <div class="logo"><img src="assetsogo-footer.svg" alt="Roboter zero"></div>
                <p>
                    Realizace webu <a href="#">dgstudio.</a></p>
            </div>
        </div>
    </footer>
    <div class="mobile-nav" id="mobile-menu">
        <div class="mobile-nav--head">
            <button id="mobile-menu--close"><img src="assetsurger-close.svg" alt="close"></button>
        </div>
        <div class="mobile-nav--menu">
            <nav>
                <ul>
                    <li><a href="index.html" data-destination="nav"><img src="assetsogo.svg" alt="aorto"></a></li>
                    <li class="active"><a href="#" data-destination="o-robotovi" data-observe="[data-name='o-robotovi']">Proč náš robot?</a></li>
                    <li><a href="x" data-destination="vlastnosti" data-observe="[data-name='vlastnosti']">Vlastnosti robota</a></li>
                    <li> <a href="#" data-destination="ocekavani" data-observe="[data-name='ocekavani']">Co od nás můžete čekat?</a></li>
                    <li> <a href="#" data-destination="predstaveni" data-observe="[data-name='akce']">Robot v akci</a></li>
                    <li class="contact"><a class="button" href="#" data-destination="kontakt" data-observe="[data-name='kontakt']"> Kontaktujte nás teď!</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mobile-nav--overlay" id="mobile-menu--overlay"></div>
    <script src="jsundle.min.js"></script>
</body>

</html>