<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="csspp.min.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Source Sans Pro:300,400,500,600,700,800', ]
            }
        });
    </script>
    <meta name="robots" content="noindex, nofollow">
    <title>Roboter Zero</title>
</head>

<body>
    <div class="sticky-bar" id="sticky-bar">
        <div class="sticky-bar--desktop">
            <div class="grid-x">
                <div class="cell">
                    <div class="sticky-bar--desktop__top">
                        <p>
                            V případě dotazů volejte <a href="tel:+420603263517">+420 603 263 517</a> nebo piště <a href="mailto:info.works@mt3.cz">info.works@mt3.cz</a></p>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell">
                    <div class="sticky-bar--desktop__menu">
                        <div class="logo"><a href="#" data-destination="nav"><img src="assetsogo.svg" alt="Roboto zero"></a></div>
                        <nav>
                            <ul class="menu">
                                <li class="active"><a href="#" data-destination="o-robotovi" data-observe="[data-name='o-robotovi']">Proč náš robot?</a></li>
                                <li><a href="#" data-destination="vlastnosti" data-observe="[data-name='vlastnosti']">Vlastnosti robota</a></li>
                                <li><a href="#" data-destination="ocekavani" data-observe="[data-name='ocekavani']">Co od nás můžete čekat?</a></li>
                                <li><a href="#" data-destination="akce" data-observe="[data-name='akce']">Robot v akci</a></li>
                                <li class="contact"><a class="button" href="#" data-destination="kontakt" data-observe="[data-name='kontakt']">Kontaktujte nás</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-bar--mobile">
        <div class="grid-x">
            <div class="cell auto">
                <div class="logo"><a href="#"><img src="assetsogo.svg" alt="Roboto zero"></a></div>
            </div>
            <div class="cell shrink">
                <button id="mobile-menu--open"><img src="assetsurger-open.svg" alt="burger"></button>
            </div>
        </div>
    </div>
    <div class="grid-container basic">
        <div class="grid-x align-center">
            <div class="cell medium-8">
                <main>
                    <section class="basic-header">
                        <h1>Obecná</h1>
                        <figure><img src="assetseader.png" alt="Poznej operatora"></figure>
                    </section>
                    <section class="basic-content content basic-content-margin">
                        <p> Pokud máme zapínání. Začínáme tím, že jednu stranu upevníme do zapínání, uzlík zakápneme lepidlem a po navlečení umístíme druhou část zapínání. Opět zakápneme lepidlem a schováme do zapínání. </p>
                        <h2>Jak si navléknout náramek, přívěšek, prstýnek z korálků, kamínků s otvorem a různých ozdobných prvků.</h2>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque porta. Integer lacinia. Phasellus rhoncus. Duis risus. Aliquam erat volutpat. Donec vitae arcu. Nullam faucibus mi quis velit. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Aliquam ante. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Fusce consectetuer risus a nunc. Morbi scelerisque luctus velit.</p>
                        <div class="gallery grid-x grid-margin-x medium-up-3">
                            <div class="cell"><a href="assets/Poznejte operátora@2x.png" data-mediabox="galerie"><img src="assets/Poznejte operátora.png" alt="Poznej operatora"></a></div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="grid-x align-center-middle">
            <div class="cell shrink">
                <div class="logo"><img src="assetsogo-footer.svg" alt="Roboter zero"></div>
                <p>
                    Realizace webu <a href="#">dgstudio.</a></p>
            </div>
        </div>
    </footer>
    <div class="mobile-nav" id="mobile-menu">
        <div class="mobile-nav--head">
            <button id="mobile-menu--close"><img src="assetsurger-close.svg" alt="close"></button>
        </div>
        <div class="mobile-nav--menu">
            <nav>
                <ul>
                    <li><a href="index.html" data-destination="nav"><img src="assetsogo.svg" alt="aorto"></a></li>
                    <li class="active"><a href="#" data-destination="o-robotovi" data-observe="[data-name='o-robotovi']">Proč náš robot?</a></li>
                    <li><a href="x" data-destination="vlastnosti" data-observe="[data-name='vlastnosti']">Vlastnosti robota</a></li>
                    <li> <a href="#" data-destination="ocekavani" data-observe="[data-name='ocekavani']">Co od nás můžete čekat?</a></li>
                    <li> <a href="#" data-destination="predstaveni" data-observe="[data-name='akce']">Robot v akci</a></li>
                    <li class="contact"><a class="button" href="#" data-destination="kontakt" data-observe="[data-name='kontakt']"> Kontaktujte nás teď!</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mobile-nav--overlay" id="mobile-menu--overlay"></div>
    <script src="jsundle.min.js"></script>
</body>

</html>