<footer class="footer">
    <div class="grid-x align-center-middle">
        <div class="cell shrink">
            <div class="logo"><img src="{$basePath}{$images->get(23)->srcObrazku}" alt="Roboter zero"></div>
            <p>
                {$footer->get(1)->text} <a href="#">{$footer->get(2)->text}</a></p>
        </div>
    </div>
</footer>